@model Budget.Web.Models.BudgetModels.NewBudgetModel
@{
    ViewBag.Title = "Ініціалізація нового річного бюджету";
}

@using Budget.Web.Helpers

<div class="page-header">
    <h2>Ініціалізація річного бюджету</h2>
</div>
<div class="row-fluid">
    <div class="span10">
        <form class="form-horizontal" action="@Url.Action("NewBudget")" method="POST">

            <div class="control-group">
                @Html.BootstrapLabelFor(m => m.SelectedYear)
                <div class="controls">
                    <div class="input-append">
                        <!--@Html.DropDownListFor(m => m.SelectedYear, new SelectList(Model.AllowedYears))-->

                        <select id="@Html.GetPropertyName(m => m.SelectedYear)" name="@Html.GetPropertyName(m => m.SelectedYear)">
                            <option selected="selected">Оберіть рік</option>
                            @foreach (var item in Model.AllowedYears)
                            {
                                <option value="@item.Year" data-is-budget-exist=@item.IsAlreadyExist.ToString().ToLowerInvariant()>@item.YearName</option>
                            }
                        </select>

                        <button type="submit" class="btn btn-primary">Далі</button>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        @Html.GetDisplayName(m => m.GenerateQuarterBudgets)
                        @Html.CheckBoxFor(m => m.GenerateQuarterBudgets, new { data_checkbox_first_level = Html.GetPropertyName(m => m.GenerateQuarterBudgets) })
                    </label>
                    <label class="checkbox">
                        @Html.GetDisplayName(m => m.GenerateMonthBudgets)
                        @Html.CheckBoxFor(m => m.GenerateMonthBudgets, new { data_checkbox_second_level = Html.GetPropertyName(m => m.GenerateQuarterBudgets), disabled = "disabled" })
                    </label>
                </div>
            </div>
        </form>
    </div>
</div>
