@model Budget.Web.Models.TargetBudgetInfoModel

@{
    ViewBag.Title = "Інформація про бюджет";
 }

<h5>Інформація про бюджет</h5>
<div>
    @Html.LabelFor(m => m.Name);
    @Html.DisplayFor(m => m.Name);
</div>
<div>
    @Html.LabelFor(m => m.Description);
    @Html.DisplayFor(m => m.Description);
</div>
<div>
    @Html.LabelFor(m => m.DateAdded);
    @Html.DisplayFor(m => m.DateAdded);
</div>
<div>
    @Html.LabelFor(m => m.Source);
    @Html.DisplayFor(m => m.Source);
</div>